# PyCity Schools Analysis

- In general, schools with larger budgets did not produce better test results. In contrast, schools spending between $645 and $675 per student performed worse than those with smaller budgets (specifically, $585 per student).

- Overall, small and medium-sized schools significantly outperformed large schools in terms of math pass rates.

- On my school summary section where we are supposed to create a DataFrame called `per_school_summary` with columns for the calculations, I was unable to solve why it kept returning my output as ValueError: 2. So unfortunately, all of my data following this step either returned errors or came out looking different than I was expecting. I was still able to write the code that I know is supposed to go in those spots, but the outputs for them are showing incorrect because of my incomplete DataFrame per_school_summary

- In conclusion, charter schools excelled in comparison to public district schools in all aspects. Nevertheless, additional analysis is required to discern whether this performance disparity is a result of school practices or stems from the fact that charter schools generally serve smaller student populations per school.
---

In [145]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [146]:
# Calculate the total number of unique schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [147]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [148]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [149]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [150]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [151]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [152]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [153]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [154]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_df = pd.DataFrame({
    'Total Schools' : [school_count],
    'Total Students': [student_count],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_rate]
    })

# Formatting

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Schools"] = district_summary_df["Total Schools"].map("{:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map('{:.4f}'.format) 
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map('{:.4f}'.format) 
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map('{:.4f}'.format) 
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map('{:.4f}'.format) 
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map('{:.4f}'.format) 

# Display results
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.9854,81.8778,74.9809,85.8055,65.1723

## School Summary

In [155]:
# Use the code provided to select all of the school types
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [156]:
# Calculate the total student count per school
per_school_counts = school_data_complete["school_name"].value_counts().reset_index()
per_school_counts.columns = ["school_name", "type"]
per_school_counts

              school_name  type
0      Bailey High School  4976
1     Johnson High School  4761
2   Hernandez High School  4635
3   Rodriguez High School  3999
4    Figueroa High School  2949
5       Huang High School  2917
6        Ford High School  2739
7      Wilson High School  2283
8     Cabrera High School  1858
9      Wright High School  1800
10    Shelton High School  1761
11     Thomas High School  1635
12    Griffin High School  1468
13       Pena High School   962
14     Holden High School   427

In [157]:
# Calculate the total school budget
total_school_budget = school_data.set_index('school_name')['budget']
total_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [158]:
# Calculate per capita spending per school
per_school_capita = (school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size'])
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [159]:
# Calculate the average math scores per school
per_school_math = average_test_scores.groupby("school_name")["math_score"].mean().reset_index()
per_school_math

              school_name  math_score
0      Bailey High School   77.048432
1     Cabrera High School   83.061895
2    Figueroa High School   76.711767
3        Ford High School   77.102592
4     Griffin High School   83.351499
5   Hernandez High School   77.289752
6      Holden High School   83.803279
7       Huang High School   76.629414
8     Johnson High School   77.072464
9        Pena High School   83.839917
10  Rodriguez High School   76.842711
11    Shelton High School   83.359455
12     Thomas High School   83.418349
13     Wilson High School   83.274201
14     Wright High School   83.682222

In [160]:
# Calculate the average reading scores per school
per_school_reading = average_test_scores.groupby("school_name")["reading_score"].mean().reset_index()
per_school_reading

              school_name  reading_score
0      Bailey High School      81.033963
1     Cabrera High School      83.975780
2    Figueroa High School      81.158020
3        Ford High School      80.746258
4     Griffin High School      83.816757
5   Hernandez High School      80.934412
6      Holden High School      83.814988
7       Huang High School      81.182722
8     Johnson High School      80.966394
9        Pena High School      84.044699
10  Rodriguez High School      80.744686
11    Shelton High School      83.725724
12     Thomas High School      83.848930
13     Wilson High School      83.989488
14     Wright High School      83.955000

In [161]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby("school_name")["student_name"].count().reset_index()
school_students_passing_math.columns = ["school_name", "students_passing_math"]
school_students_passing_math

              school_name  students_passing_math
0      Bailey High School                   3318
1     Cabrera High School                   1749
2    Figueroa High School                   1946
3        Ford High School                   1871
4     Griffin High School                   1371
5   Hernandez High School                   3094
6      Holden High School                    395
7       Huang High School                   1916
8     Johnson High School                   3145
9        Pena High School                    910
10  Rodriguez High School                   2654
11    Shelton High School                   1653
12     Thomas High School                   1525
13     Wilson High School                   2143
14     Wright High School                   1680

In [162]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby("school_name")["student_name"].count().reset_index()
school_students_passing_reading.columns = ["school_name", "students_passing_reading"]
school_students_passing_reading

              school_name  students_passing_reading
0      Bailey High School                      4077
1     Cabrera High School                      1803
2    Figueroa High School                      2381
3        Ford High School                      2172
4     Griffin High School                      1426
5   Hernandez High School                      3748
6      Holden High School                       411
7       Huang High School                      2372
8     Johnson High School                      3867
9        Pena High School                       923
10  Rodriguez High School                      3208
11    Shelton High School                      1688
12     Thomas High School                      1591
13     Wilson High School                      2204
14     Wright High School                      1739

In [163]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
#students_passing_math_and_reading = school_data_complete[
    #(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
#]
#school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
#school_data_complete["math_score"] = pd.to_numeric(school_data_complete["math_score"])
#school_students_passing_math_and_reading
school_students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [164]:
# Calculate percentage of passing rates for Math
per_school_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/student_count*100
per_school_passing_math

school_name
Bailey High School       8.470768
Cabrera High School      4.465152
Figueroa High School     4.968088
Ford High School         4.776615
Griffin High School      3.500128
Hernandez High School    7.898902
Holden High School       1.008425
Huang High School        4.891499
Johnson High School      8.029104
Pena High School         2.323207
Rodriguez High School    6.775594
Shelton High School      4.220066
Thomas High School       3.893286
Wilson High School       5.471024
Wright High School       4.288997
Name: Student ID, dtype: float64

In [165]:
# Calculate percentage of passing rates for Reading
per_school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/student_count*100
per_school_passing_reading

school_name
Bailey High School       10.408476
Cabrera High School       4.603013
Figueroa High School      6.078632
Ford High School          5.545060
Griffin High School       3.640541
Hernandez High School     9.568547
Holden High School        1.049272
Huang High School         6.055655
Johnson High School       9.872351
Pena High School          2.356395
Rodriguez High School     8.189941
Shelton High School       4.309420
Thomas High School        4.061782
Wilson High School        5.626755
Wright High School        4.439622
Name: Student ID, dtype: float64

In [166]:
# Calculate percentage of overall passing rates
overall_passing_rate = students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].groupby('school_name')["Student ID"].count()/student_count*100
overall_passing_rate

school_name
Bailey High School       6.941537
Cabrera High School      4.332397
Figueroa High School     4.005617
Ford High School         3.796273
Griffin High School      3.395456
Hernandez High School    6.333929
Holden High School       0.972683
Huang High School        3.985193
Johnson High School      6.507531
Pena High School         2.223641
Rodriguez High School    5.409752
Shelton High School      4.041358
Thomas High School       3.796273
Wilson High School       5.279551
Wright High School       4.151136
Name: Student ID, dtype: float64

In [169]:
# Create a DataFrame called `per_school_summary` with columns for the calculations 

per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Per Student Budget": per_school_capita,
    "Total School Budget": total_school_budget,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    '% Passing Math': per_school_passing_math,
    '% Passing Reading': per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
})



per_school_summary = per_school_summary[['School Type',
                            'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          '% Overall Passing']]


# Formatting
per_school_summary.style.format({'Total Students': '{:}',
                          "Total School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:6f}", 
                          'Average Reading Score': "{:6f}", 
                          "% Passing Math": "{:6f}", 
                          "% Passing Reading": "{:6f}"})

ValueError: 2

## Highest-Performing Schools (by % Overall Passing)

In [174]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name type 0 Bailey ...,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,school_name math_score 0 B...,school_name reading_score 0 ...,school_name Bailey High School 8.470768 ...,school_name Bailey High School 10.408476...,school_name Bailey High School 6.941537 ...

## Bottom Performing Schools (By % Overall Passing)

In [176]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing")
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name type 0 Bailey ...,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,school_name math_score 0 B...,school_name reading_score 0 ...,school_name Bailey High School 8.470768 ...,school_name Bailey High School 10.408476...,school_name Bailey High School 6.941537 ...

## Math Scores by Grade

In [179]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"])
tenth_grader_math_scores = tenth_graders.groupby(["school_name"])
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"])
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"])

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th": ninth_grade_math_scores,
                                        "10th": tenth_grader_math_scores,
                                        "11th": eleventh_grader_math_scores,
                                        "12th": twelfth_grader_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

ValueError: If using all scalar values, you must pass an index

## Reading Score by Grade

In [180]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"])
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"])
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"])
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"])

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th": ninth_grade_reading_scores,
                                        "10th": tenth_grader_reading_scores,
                                        "11th": eleventh_grader_reading_scores,
                                        "12th": twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

ValueError: If using all scalar values, you must pass an index

## Scores by School Spending

In [181]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [182]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [183]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
0,school_name Huang High School District ...,school_name type 0 Bailey ...,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,school_name math_score 0 B...,school_name reading_score 0 ...,school_name Bailey High School 8.470768 ...,school_name Bailey High School 10.408476...,school_name Bailey High School 6.941537 ...,NaN

In [184]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [186]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores,
                                        "Average Reading Score": spending_reading_scores,
                                        "% Passing Math": spending_passing_math,
                                        "% Passing Reading": spending_passing_reading,
                                        "% Overall Passing": overall_passing_spending})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,NaN,NaN,NaN,NaN,NaN
$585-630,NaN,NaN,NaN,NaN,NaN
$630-645,NaN,NaN,NaN,NaN,NaN
$645-680,NaN,NaN,NaN,NaN,NaN

## Scores by School Size

In [188]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [189]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_counts, size_bins, labels=labels)
per_school_summary

ValueError: Input array must be 1 dimensional

In [190]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

KeyboardInterrupt

In [192]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Score": size_math_scores,
                                        "Average Reading Score": size_reading_scores,
                                        "% Passing Math": size_passing_math,
                                        "% Passing Reading": size_passing_reading,
                                        "% Overall Passing": size_overall_passing})

# Display results
size_summary

NameError: name 'size_math_scores' is not defined

## Scores by School Type

In [194]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

TypeError: unhashable type: 'Series'

In [195]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score" : average_math_score_by_type,
                                        "Average Reading Score" : average_reading_score_by_type,
                                        "% Passing Math" : average_percent_passing_math_by_type,
                                        "% Passing Reading" : average_percent_passing_reading_by_type,
                                        "% Overall Passing" : average_percent_overall_passing_by_type})


# Display results
type_summary

NameError: name 'average_math_score_by_type' is not defined